<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<h1>Spring boot: this is h1 from mustache index</h1>
</body>
</html>